<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
</head>
<body>
      <form action="index.js" method="post">
        <label for="">Title : </label>
        <input type="text">
        <br> <br>
        <textarea name="content" cols="25" rows="5" placeholder="Enter your content">
        </textarea>
      </form>
</body>
</html>