*
{
    font-family: sans-serif;
}
.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    font-size: 1.2rem;
    background-color:  #5a67d8;
}
.header a 
{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.header a:hover 
{
   color: rgb(202, 200, 200);
}
.header button
{
    border:none;
    padding: 8px 12px;
    font-size: 1.2rem;
    border-radius: 12px;
    border: 1px solid transparent;
}
.header button:hover 
{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}